<!DOCTYPE html>

<html lang="en">

<head>

<title>StoryApp</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 10px;
  text-align: center;
  background: #10bfe7;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  {% if session.admin_mode == "main_mode" %}
    <h1>Hallinto</h1>
    <p>(Tapauksessa, jossa taulu linkkien klikkaus ei tee mitään, on taulu tyhjä)</p>
  {% endif %}
  
  {% if session.admin_mode == "users_mode" %}
    <h1>Käyttäjät</h1>
  {% endif %}
  
  {% if session.admin_mode == "posts_mode" %}
    <h1>Postaukset </h1>
  {% endif %}
  
  {% if session.admin_mode == "chapters_mode" %}
    <h1>Luvut</h1>
  {% endif %}
  
  {% if session.admin_mode == "comments_mode" %}
    <h1>Kommentit</h1>
  {% endif %}
  
  {% if session.admin_mode == "queries_mode" %}
    <h1>Kyselyt</h1>
  {% endif %}
  
  {% if session.admin_mode == "answers_mode" %}
    <h1>Vastaukset</h1>
  {% endif %}

  {% if session.admin_mode == "clearance_code_mode" %}
    <h1>Oikeus koodi</h1>
  {% endif %}

  {% if session.admin == "database_error" %}
    <p>Ongelmia tietokannassa</p>
  {% endif %}

  {% if session.admin == "short_clearance_code" %}
    <p>Lyhyt oikeutus koodi</p>
    <p>Koodi on oltava vähintään 20 merkkiä pitkä</p>
  {% endif %}

  {% if session.admin == "empty_clearance_code" %}
    <p>Tyhjä koodi</p>
  {% endif %}
</div>

<div class="navbar">
  {% if session.admin_mode == "main_mode" %}
    <a href="/administration/users/{{ admin_name }}">Käyttäjät</a>
    <a href="/administration/posts/{{ admin_name }}">Postaukset</a>
    <a href="/administration/chapters/{{ admin_name }}">Luvut</a>
    <a href="/administration/comments/{{ admin_name }}">Kommentit</a>
    <a href="/administration/queries/{{ admin_name }}">Kyselyt</a>
    <a href="/administration/answers/{{ admin_name }}">Vastaukset</a>
    <a href="/administration/clearance_code/{{ admin_name }}">Oikeus koodi</a>
  {% endif %}
  
  {% if not session.admin_mode == "main_mode" %}
    <a href="/administration/{{ admin_name }}">Takaisin</a>
  {% endif %}

  {% if session.admin_mode == "users_mode" %}
    <a>Käyttäjät:{{ amount_of_regulars }}</a>
    <a>Adminit:{{ amount_of_admins }}</a>
  {% endif %}

  {% if session.admin_mode == "posts_mode" %}
    <a>Määrä:{{ amount_of_posts }}</a>
    <a>Julkiset:{{ amount_of_public_posts }}</a>
  {% endif %}

  {% if session.admin_mode == "chapters_mode" %}
    <a>Määrä:{{ amount_of_chapters }}</a>
    <a>Julkiset:{{ amount_of_public_chapters }}</a>
    <a>Suurin luku:{{ largest_chapter_number }}</a>
    <a>Suurin rivi:{{ largest_row_number }}</a>
  {% endif %}
   
  {% if session.admin_mode == "comments_mode" %}
    <a>Yleiset:{{ amount_of_general_comments }}</a>
    <a>Rivi aiheet:{{ amount_of_row_subjects }}</a>
    <a>Rivi vastaukset:{{ amount_of_row_subject_comments }}</a>
  {% endif %}

  {% if session.admin_mode == "queries_mode" %}
    <a>Määrä:{{ amount_of_queries }}</a>
  {% endif %}

  {% if session.admin_mode == "answers_mode" %}
    <a>Määrä:{{ amount_of_answers }}</a>
  {% endif %}

  <a href="/logout"class="right">Kirjaudu ulos</a>
</div>

<div class="footer">
  {% if session.admin_mode == "users_mode" %}
    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Käyttäjä</th> 
        <th>Rooli</th>
      </tr>
    {% for user in users %}
      <tr>
        <th>{{ user[0] }}</th>
        <th>
          {% if user[2] == 1 %}
            <a href="/profile/{{ user[1] }}">{{ user[1] }}</a>
          {% endif %}
          {% if not user[2] == 1 %}
            {{ user[1] }}
          {% endif %}
        </th> 
        <th>{{ user[2] }}</th>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if session.admin_mode == "posts_mode" %}
    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Omistaja</th> 
        <th>Julkisuus</th>
        <th>Kommentointi</th>
        <th>Nimi</th>
      </tr>
    {% for post in posts %}
      <tr>
        <th>{{ post[0] }}</th>
        <th>{{ post_creators[post[0]] }}</th> 
        <th>{{ post[2] }}</th>
        <th>{{ post[3] }}</th>
        <th>
          <a href="/view/{{ post_creators[post[0]] }}/{{ post[4] }}/{{ post[0] }}/1">{{ post[4] }}</a>
        </th>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if session.admin_mode == "chapters_mode" %}
    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Postaus</th> 
        <th>Julkisuus</th>
        <th>Rivi kommentit</th>
        <th>Kyselyt</th>
        <th>Luku</th>
        <th>Rivit</th>
      </tr>
    {% for chapter in chapters %}
      <tr>
        <th>{{ chapter[0] }}</th>
        <th>{{ chapter_post_list[chapter[0]] }}</th> 
        <th>{{ chapter[2] }}</th>
        <th>{{ chapter[3] }}</th>
        <th>{{ chapter[4] }}</th>
        <th>{{ chapter[5] }}</th>
        <th>{{ chapter[6] }}</th>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if session.admin_mode == "comments_mode" %}
    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Omistaja</th>
        <th>Postaus</th>
        <th>Rivi id</th>
        <th>Yleinen kommentti</th>
        <th>Rivi kommentti</th>
        <th>Numerointi</th>
        <th>Luku</th>
      </tr>
    {% for comment in comments %}
      <tr>
        <th>{{ comment[0] }}</th>
        <th>{{ comment_creators[comment[0]] }}</th> 
        <th>{{ comment_post_list[comment[0]] }}</th>
        <th>{{ comment[3] }}</th>
        <th>{{ comment[4] }}</th>
        <th>{{ comment[5] }}</th>
        <th>{{ comment[6] }}</th>
        <th>{{ comment[7] }}</th>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if session.admin_mode == "queries_mode" %}
    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Omistaja</th>
        <th>Postaus</th>
        <th>Luku</th>
      </tr>
    {% for query in queries %}
      <tr>
        <th>{{ query[0] }}</th>
        <th>{{ query_owner_list[query[0]] }}</th> 
        <th>{{ query_posts_list[query[0]] }}</th>
        <th>{{ query_chapter_numbers_list[query[0]] }}</th>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if session.admin_mode == "answers_mode" %}
    <table style="width:100%">
      <tr>
        <th>Id</th>
        <th>Vastaaja</th>
        <th>Kysymys id</th>
        <th>Luku</th>
        <th>Postaus</th>
      </tr>
    {% for answer in answers %}
      <tr>
        <th>{{ answer[0] }}</th>
        <th>{{ answer_owner_list[answer[0]] }}</th> 
        <th>{{ answer[2] }}</th>
        <th>{{ answer_chapter_number_list[answer[0]] }}</th>
        <th>{{ answer_post_list[answer[0]] }}</th>
      </tr>
    {% endfor %}
    </table>
  {% endif %}

  {% if session.admin_mode == "clearance_code_mode" %}
    <form action="/administration/clearance_code/{{ admin_name }}" method="POST">
      <p>Oikeutus koodi:<br>
      <input type="text" name="clearance_code" value="{{ clearance_code }}" size="50"></p>
      <input type="submit" value="Aseta oikeutus koodiksi">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
  {% endif %}
</div>

</body>
</html>