<!DOCTYPE html>

<html lang="en">

<head>

<title>StoryApp</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

textarea {
    resize: vertical;
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
</style>
</head>
<body>

<div class="header">
  <h1>Työpöytä</h1>
  
  {% if session.workbencherror == "0" %}
  <p>Valitse jokin vasemmalla olevista vaihtoehdoista</p>
  {% endif %}
  
  {% if session.workbencherror == "1" %}
  <p>Anna tarvitut tiedot postausta varten</p>
  {% endif %}
  
  {% if session.workbencherror == "2" %}
  <p>Anna tarvitut tiedot chapteria varten</p>
  {% endif %}
  
  {% if session.workbencherror == "3" %}
  <p>Id haussa tapahtui virhe</p>
  {% endif %}
  
  {% if session.workbencherror == "4" %}
  <p>Annettu nimi on jo olemassa</p>
  {% endif %}
  
  {% if session.workbencherror == "5" %}
  <p>Postin luonnissa tapahtui virhe</p>
  {% endif %}

  {% if session.workbencherror == "6" %}
  <p>Valitse joku postaus</p>
  {% endif %}

  {% if session.workbencherror == "7" %}
  <p>Chapterin seuraavan luvun haku epäonnistui</p>
  {% endif %}

  {% if session.workbencherror == "8" %}
  <p>Chapter id ei löytynyt</p>
  {% endif %}

  {% if session.workbencherror == "9" %}
  <p>Virhe chapter tietokannassa</p>
  {% endif %}

  {% if session.workbencherror == "hyphenation" %}
  <p>Tekstin rivitys on väärin</p>
  {% endif %}
</div>

<div class="navbar">
  {% if session.workbench == "0" %}
  <a href="/post">Luo uusi postaus</a>
  <a href="/chapter">Luo uusi luku</a>
  {% endif %}
  
  {% if session.workbench != "0" %}
  <a href="/workbench">Resetoi</a>
  {% endif %}
  
  <a href="/profile" class="right">Profiili</a>
</div>

<script> 
  const tx = document.getElementsByTagName("textarea");
  
  for (let i = 0; i < tx.length; i++) {
   tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
   tx[i].addEventListener("input", OnInput, false);
  }

  function OnInput() {
  this.style.height = "auto";
  this.style.height = (this.scrollHeight) + "px";
  
  }
  
</script>

<div class="footer">
  {% if session.workbench == "1" %}
  <form action="/save/post" method="POST">
    <a>Mikä nimi postauksella pitäisi olla?</a>
    
    <br>
    
    <input type="text" name="name"></p>
    
    <br>
    
    <a>Haluatko postauksen olevan julkinen?</a>
    
    <br>
    
    <input type="radio" id="1" name="public" value="true">
    <label for="Yes">Kyllä</label><br>
    <input type="radio" id="2" name="public" value="false" checked="checked">
    <label for="No">Ei</label>
    
    <br>
    
    <a>Haluatko muiden kommentoivan postausta?</a>
    
    <br>
    
    <input type="radio" id="1" name="general" value="true">
    <label for="Yes">Kyllä</label><br>
    <input type="radio" id="2" name="general" value="false" checked="checked">
    <label for="No">Ei</label>
    
    <br>
    
    <a>Minkä ikä rajan haluat?(WIP)</a><br>
    
    <input type="radio" id="1" name="rating" value="K" checked="checked">
    <label for="K">K</label><br>
    <input type="radio" id="2" name="rating" value="T">
    <label for="T">T</label><br>
    <input type="radio" id="3" name="rating" value="M">
    <label for="M">M</label><br>
    
    <a>Mikä on tarinan genre?(WIP)</a><br>
    
    <input type="text" name="genre"></p>
    <input type="submit" value="Tallenna">
  </form>
  {% endif %}
  
  {% if session.workbench == "2" %}
  {% if size == 0 %}
    <h2>Et omista yhtään postausta</h2>
  {% endif %}
  {% if size > 0 %}
  <form action="/save/chapter" method="POST">
    <a>Mihin postaukseen haluat lisätä tämän chapterin?</a>
    
    <br>

    {% for post in posts %}
    {{ post[3] }} <input type="radio" id="post_{{ post[1] }}" name="chapter_picked_post" value="{{ post[0] }}">
    <br>
    {% endfor %}
    
    <br>
        
    <a>Haluatko chapterin olevan julkinen?(WIP)</a>
    
    <br>
    
    <input type="radio" id="1" name="chapter_public" value="true">
    <label for="Yes">Kyllä</label><br>
    <input type="radio" id="2" name="chapter_public" value="false" checked="checked">
    <label for="No">Ei</label>
    
    <br>
    
    <a>Haluatko chapteriin rivi kommentit?(WIP)</a>
    
    <br>
    
    <input type="radio" id="1" name="chapter_row_comments_on" value="true">
    <label for="Yes">Kyllä</label><br>
    <input type="radio" id="2" name="chapter_row_comments_on" value="false" checked="checked">
    <label for="No">Ei</label>
    
    <br>
    
    <a>Haluatko chapteriin kyselyt?</a>
    
    <br>
    
    <input type="radio" id="1" name="chapter_inquiry" value="true">
    <label for="Yes">Kyllä</label><br>
    <input type="radio" id="2" name="chapter_inquiry" value="false" checked="checked">
    <label for="No">Ei</label>
    
    <br>
    
    <a>Kirjoita tämän chapterin sisältö seuraavaan teksti kenttään (Teksti rivin saa olla seinään asti)</a>

    <br>
    
    <textarea name="chapter_text" rows="25" cols="100"></textarea>

    <br>

    <input type="submit" value="Tallenna">
  </form>
  {% endif %}
  {% endif %}
  
  {% if session.workbench == "3" %}
  <form action="/update" method="POST">
    <a>Mikä nimi postauksella pitäisi olla?</a>
    
    <br>
    
    <input type="text" name="name" value={{ session.given_post_name }}></p>
    
    <br>
    
    <a>Haluatko postauksen olevan julkinen?</a>
    
    <br>
    
    {% if session.given_post_public != "1" %}
    <input type="radio" id="1" name="public" value="true">
    <label for="Yes">Kyllä</label><br>
    {% endif %}
    
    {% if session.given_post_public == "1" %}
    <input type="radio" id="1" name="public" value="true" checked="checked">
    <label for="Yes">Kyllä</label><br>
    {% endif %}
    
    {% if session.given_post_public != "2" %}
    <input type="radio" id="2" name="public" value="false">
    <label for="No">Ei</label>
    {% endif %}
    
    {% if session.given_post_public == "2" %}
    <input type="radio" id="2" name="public" value="false" checked="checked">
    <label for="No">Ei</label>
    {% endif %}
    
    <br>
    
    <a>Haluatko muiden kommentoivan postausta?</a>
    
    <br>
    
    {% if session.given_post_general != "1" %}
    <input type="radio" id="1" name="general" value="true">
    <label for="Yes">Kyllä</label><br>
    {% endif %}
    
    {% if session.given_post_general == "1" %}
    <input type="radio" id="1" name="general" value="true" checked="checked">
    <label for="Yes">Kyllä</label><br>
    {% endif %}
    
    {% if session.given_post_general != "2" %}
    <input type="radio" id="2" name="general" value="false">
    <label for="No">Ei</label>
    {% endif %}
    
    {% if session.given_post_general == "2" %}
    <input type="radio" id="2" name="general" value="false" checked="checked">
    <label for="No">Ei</label>
    {% endif %}
    
    <br>
    
    <a>Minkä ikä rajan haluat</a><br>
    
    {% if session.given_post_rating != "K" %}
    <input type="radio" id="1" name="rating" value="K">
    <label for="K">K</label><br>
    {% endif %}
    
    {% if session.given_post_rating == "K" %}
    <input type="radio" id="1" name="rating" value="K" checked="checked">
    <label for="K">K</label><br>
    {% endif %}
    
    {% if session.given_post_rating != "T" %}
    <input type="radio" id="2" name="rating" value="T">
    <label for="T">T</label><br>
    {% endif %}
    
    {% if session.given_post_rating == "T" %}
    <input type="radio" id="2" name="rating" value="T" checked="checked">
    <label for="T">T</label><br>
    {% endif %}
    
    {% if session.given_post_rating != "M" %}
    <input type="radio" id="3" name="rating" value="M">
    <label for="M">M</label><br>
    {% endif %}
    
    {% if session.given_post_rating == "M" %}
    <input type="radio" id="3" name="rating" value="M" checked="checked">
    <label for="M">M</label><br>
    {% endif %}
    
    <a>Mikä on tarinan genre?</a><br>
    <input type="text" name="genre" value={{ session.given_post_genre }}></p>

    <input type="submit" value="Tallenna">
  </form>
  {% endif %}

</div>

</body>
</html>